<section id="top3job">
    <div class="content-div">
        <div class="img-div">
            <img src="../../../assets/img/leroLeroMain-horizontalInvert.png" alt="Overlha do Lero Lero invertida horizontalmente">
        </div>
        <div class="text-div">
            <h1>SCRUM</h1>
            <p>Desde ontem a noite o último pull request desse SCRUM complexificou o merge dos parametros passados em funções privadas. O incentivo ao avanço tecnológico, assim como o consenso sobre a necessidade de qualificação representa uma abertura para a melhoria do sistema de participação geral.</p>
            <p>Com este commit, o módulo de recursão paralela complexificou o merge no parse retroativo do DOM. Caros amigos, o desenvolvimento contínuo de distintas formas de atuação pode nos levar a considerar a reestruturação dos índices pretendidos.</p>
            <p>A equipe de suporte precisa saber que a disposição dos elementos HTML complexificou o merge de compilação multi-plataforma de forma asincrona. Podemos já vislumbrar o modo pelo qual o fenômeno da Internet cumpre um papel essencial na formulação das diversas correntes de pensamento.</p>
        </div>
    </div>
</section>