<section id="top3">
    <div class="range">
        <div class="main-div">
            <div class="title">
                <h1>Top 3</h1>
                <p>Algumas frases que eu posso dizer:</p>
            </div>
            <div class="grid-div">
                <div class="col1">
                    <h5>Original</h5>
                    <p>Por outro lado, o desenvolvimento contínuo de distintas formas de atuação promove a alavancagem dos conhecimentos estratégicos para atingir a excelência.</p>
                </div>
                <div class="col2">
                    <h5>Psicanalítco</h5>
                    <p>A psicanálise parte da idéia de que o princípio suscetível que serve de base produz uma marca psíquica que leva à convergência no recalque.</p>
                </div>
                <div class="col3">
                    <h5>Programador</h5>
                    <p>Nesse pull request, a otimização de performance da renderização do DOM superou o desempenho da execução parelela de funções em multi-threads.</p>
                </div>
            </div>
        </div>
    </div>
    <img src="../../../assets/img/leroLeroMain-spined-right.png" alt="ovelha do lero lero girada">
</section>