<section id="gallery">
    <div class="main-div">
        <div class="text">
            <h1>Gallery</h1>
            <p>Algumas fotos de algulos diferentes: </p>
        </div>
        <div class="grid-div">
            <div>
                <img src="../../../assets/img/leroLeroMain-horizontalInvert.png" alt="fds">
            </div>
            <div>
                <img src="../../../assets/img/leroLeroMain-spined-right.png" alt="fds">
            </div>
            <div>
                <img src="../../../assets/img/LeroLeroMain-transformed-2.png" alt="fds">
            </div>
            <div>
                <img src="../../../assets/img/leroLeroMain-transformed.png" alt="fds">
            </div>
            <div>
                <img src="../../../assets/img/leroLeroMain.png" alt="fds">
            </div>
            <div>
                <img src="../../../assets/img/leroLeroMain-horizontalInvert.png" alt="fds">
            </div>         
        </div>
    </div>
</section>